{% extends 'user_management/base.html' %}
{% load static %}
{% block head_block %}

<style>
    input[type=text], input[type=date],input[type=option]{
        height: 20px;
    }
    label{
        font-weight: 500;
    }
    .inputfield {
        height: 50px
      }

</style>


{% endblock  %}
{% block body_block %}
<div class="page-wrapper bg-white">
    <div class="content px-3 py-2">
        <div class="">
            <div class="row">
                <div class="col-12">
                   
                            
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div style="font-family: monospace;" class="w-100 bg-primary px-2 py-2 text-light br_5 d-flex justify-content-between">
                                    <div>
                                      <a href="/dashboard" class="text-light mr-2" title="Back"> <i class="fa fa-arrow-circle-left"></i></a>
                                      <b>Create User</b>
                                    </div>
                                    <div class="">
                                      <button type="submit" class="btn text-light" aria-label="Close"><i class="fas fa-save"></i></button>
                                      <a type="button" onclick="window.location.reload()" class="text-light px-1" title="Reload"><i class="fas fa-sync-alt"></i></a>
                                      <a onClick="" class="text-light px-1" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Export" ><i class='fas fa-ellipsis-v'></i></a>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a href="/view_create_userprofile" class="dropdown-item gray_bg" type="button">Edit</a>
                                        <a class="dropdown-item btn-primary" id="download-button " type="button" onclick="printDiv('hello')">Print</a>
                                        <a href="/view_create_userprofile" class="dropdown-item btn-primary"> Records</a>
                                      </div>
                                    </div>
                                  </div>
                                {% if messages %}
                                <div class="alert alert-success" role="alert">
                                <ul class="messages">
                                    {% for message in messages %}
                                    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                                    {% endfor %}
                                </ul>
                            </div>
                                {% endif %}
                                {% if desclimer %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <strong>Error!</strong> A <a href="#" class="alert-link">problem</a> has been occurred while submitting your data.
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% endif %}
                                
                                <div class="form-group">
                                    <hidden>{{form.user_id}}
                                        {{userform.username}}
                                        {{userform.password1}}
                                        {{userform.password2}}                                       
                                    </hidden>
                                    
                                </div>
                                <div class="form-row">
                                    <div class="col-md-4">
                                        <lable>First Name*</lable>
                                        {{form.f_name}}
                                        {{userform.first_name}}
                                    </div>
                                    <div class="col-md-4">
                                        <lable>Middle Name</lable>
                                        {{form.middle_name}}
                                    </div>
                                    <div class="col-md-4">
                                        <lable>Last Name*</lable>
                                        {{form.last_name}}
                                    </div>
                                    <div class="col-md-4">
                                        <label>Email*</label>
                                        <input type="email" name="email"  required id="id_email" class='form-control'>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Date of Birth*</label>
                                        {{form.date_of_birth}}
                                    </div>
                                    <div class="col-md-4">
                                        <label>Create Date & time*</label>
                                        {{form.create_datatime}}
                                    </div>
                                    <div class="col-md-4">
                                        <label>Department*</label>
                                        {{form.department}}
                                    </div>
                                    <div class="col-md-4">
                                        <label>User Profile*</label>
                                        {{form.user_profile}}
                                    </div>
                                    <div class="col-md-4">
                                        <label>location</label>
                                        <select name="location" class="form-control" required id="id_location">
                                            <option value="" selected>---------</option>
                                          {% for data in all_branches_location %}
                                          <option value="{{data.id}}">{{data.branch_location}}</option>
                                          {% endfor %}
                                            
                                          
                                          </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Store</label>
                                        {{form.store}}
                                    </div>
                                    <div class="col-md-4">
                                        <label>Signature</label>
                                        {{form.signature}}
                                    </div>
                                    <div class="col-md-4">
                                        <label>Status*</label>
                                        {{form.status}}
                                    </div>
                                    <div class="col-md-4">
                                        <label>Date of Join</label>
                                        {{form.date_of_join}}
                                    </div>
                                    <div class="col-md-4">
                                        <label>Date of Leaving</label>
                                        {{form.date_of_living}}
                                    </div>
                                    <div class="col-md-4">
                                        <label>Is Admin</label>
                                        {{form.is_admin}}
                                    </div>
                                </div>
                              
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

<script>
    window.setTimeout(function() {
    $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove(); 
    });
}, 2000);
</script>

<script>
    $( document ).ready(function() {
        console.log($('#id_date_of_birth')[0].value);
        $( "#id_date_of_birth" ).change(function(e) {
          var value = e.target.value;
          var vals = value.split('-');
          var year = vals[0];
          var month = vals[1];
          var day = vals[2];
          var name = $('#id_f_name').val().slice(0, 4).toUpperCase();
          var lastDigit = String(year).substr(-2);
          var output = name+day+month+lastDigit
          console.info(name+day+month+lastDigit);
          $( "#id_password1" ).val(output);
          $( "#id_password2" ).val(output);
          
        });
    });
</script>

<script>
    $( document ).keyup(function() {
          var name = $('#id_f_name').val()
          $( "#id_first_name" ).val(name);
          
    });
</script>

{% endblock %}