{% extends 'qms/base.html' %}
{% load static %}
{% block body_block %}
{% load crispy_forms_tags %}
   <!-- content -->
   <div class="page-wrapper bg-white">
    <div class="content px-3 py-2">
      <div style="font-family: monospace;" class="w-100 bg-primary px-2 py-2 text-light br_5 d-flex justify-content-between">
        <div>
          <a href="/OT/OT_dashboard" class="text-light mr-2" title="Back"> <i class="fa fa-arrow-circle-left"></i></a>
          <b>Token Creation</b>
        </div>
        <div class="">
          <!-- <a type="button" data-toggle="modal" data-target="#myLargeModalLabel1"  class="text-light px-1" title="Filter"><i class="fa fa-filter"></i></a> -->
          <button type="submit"class="btn text-light" form="form_id"><i class="fas fa-save"></i></button>
          <a type="button" onclick="window.location.reload()" class="text-light px-1" title="Reload"><i class="fas fa-sync-alt"></i></a>
          <a onClick="" class="text-light px-1" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Export" ><i class='fas fa-ellipsis-v'></i></a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a href="/OT/clinical_notes_records" class="dropdown-item btn-primary"> Records</a> 
            <a class="dropdown-item btn-primary" id="download-button " href="#">CSV</a>
          </div>
        </div>
      </div>

<!-- Main Dashboard -->
<div class="row">
<div class="col-12">
       <div class="container-fluid"><br>
         <form method="POST" id="form_id">
           {% csrf_token %}
           <div class="form-row own_decor_forms">
           <div class="form-group col-md-2 mb-0">
               {{form.Date|as_crispy_field }}
           </div>
           <div class="form-group col-md-2 mb-0">
               {{form.Doct_Name|as_crispy_field }}
           </div>
           <div class="form-group col-md-2 mb-0">
               {{form.Patient_Id|as_crispy_field }}
           </div>
           <div class="form-group col-md-2 mb-0">
               
           </div>
           </div>
         </form>
         {% if tc %}
            <table class=" table table-stripped table-bordered">
                  <thead style="background-color: rgb(209, 209, 244);">
                      <tr>
                          <th>Date</th>
                          <th>Doctor Id</th>
                          <th>Doctor Name</th>
                          <th>Speciality</th>
                          <th>Patient Id</th>
                          <th>Patient Name</th>
                          <th>Token No</th>
                          <th>Room No</th>
                          <th >Slip Generation</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for data in tc %}
                      <tr>
                          <td>{{data.Date}}</td>
                          <td>{{data.Doct_id}}</td>
                          <td>{{data.Doct_Name}}</td>
                          <td>{{data.speciality}}</td>
                          <td>{{data.Pt_Id}}</td>
                          <td>{{data.Pt_Name}}</td>
                          <td>{{data.Token_No}}</td>
                          <td>{{data.Room_No}}</td>
                          {% if 'token_get_slip' in access.user_profile.screen_access or request.user.is_superuser %}
                          <td><a href="token_slip_generation/{{data.id}}"><span class="btn btn-primary">Get Slip</span></a></td>
                          {% endif %}
                      </tr>
                      {% endfor %}
                    </tbody>
          </table>
          {% endif %}
      </div>
    </div>
    </div>
    </div>
    </div>

    {% endblock  %}
