<!DOCTYPE html>
<html>

<head>
	<style type="text/css">
		#back_btn, button {
				font-size: larger;
				box-sizing: border-box;
				padding: 10px;
			}
	</style>
	
</head>

<body>



	{% block head_block %}
	{% load static %}
	{% load humanize %}
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
	
	<!--This for payment receipt print function-->
	<div id="hello">
		<style type="text/css">
			body,
			p {
				font-family: arial;
				font-size: 12px;
			}

			p {
				margin: 0 0 5px;
			}

			table td,
			table th {
				padding: 10px;
				text-align: left;
			}
			
			@media print {
				body, #hello {
					font-size: 12px !important;
				}

				p {
					margin: 0 0 5px;
					font-size: 12px !important;
				}

				table td,
				table th {
					font-size: 12px !important;
					padding: 10px;
					text-align: left;
				}
				#haeder tr, #haeder td, #haeder th {
					padding: 3px;
				}
			}

			button {
				font-size: larger;
				box-sizing: border-box;
				padding: 10px;
			}
		</style>
		<table style="width: 100%;max-width: 1024px;margin: 0 auto;border-collapse: collapse;" width="100%">
			<tr style="border-bottom:2px solid #eee;">
				<td>
					<table style="width: 100%;max-width: 1024px;margin: 0 auto;border-collapse: collapse;" width="100%">
						<tr>
							<td>
								<div class="">
									<center>
										<h2><img src="{% static 'assets/images/nephromed_logo.jpg' %}" alt="logo Image"
												style="width:500px;height:100px;"></h2>
									</center>

								</div>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>
					<table style="width: 100%;max-width: 1024px;margin: 0 auto;border-collapse: collapse;" id="haeder" width="100%">
						<tr>
							<td colspan="4" style="text-align:center;border-bottom: 1px solid #222;">
								<h3 style="margin: 0;">Invoice</h3>
							</td>
						</tr>
						<tr>
							<th>Name</th>
							<td>:&nbsp;&nbsp;&nbsp;{{PSCounterSale_Parent.patient_name}}</td>
							<th>Bill. No.</th>
							<td>:&nbsp;&nbsp;&nbsp;{{PSCounterSale_Parent.Op_sales_no}}</td>
						</tr>

						<tr>
							<th>Age/Gender</th>
							<td>:&nbsp;&nbsp;&nbsp;{{PSCounterSale_Parent.age}} / {{PSCounterSale_Parent.gender}}</td>
							<th>UHID</th>
							<td>:&nbsp;&nbsp;&nbsp;{{PSCounterSale_Parent.uhid}}</td>

						</tr>
						<tr>
							<th>Location</th>
							<td>:&nbsp;&nbsp;&nbsp;{{PSCounterSale_Parent.location_id}}</td>
							<th>Visit No</th>
							<td>:&nbsp;&nbsp;&nbsp;{{PSCounterSale_Parent.visit_id}}</td>

						</tr>
						<tr>
							<th>Doctor</th>
							<td>:&nbsp;&nbsp;&nbsp;{{PSCounterSale_Parent.consultant_name}}</td>
							<th>Mobile</th>
							<td>:&nbsp;&nbsp;&nbsp;{{PSCounterSale_Parent.mobile}}</td>
							<!--<th>Panel</th>-->
							<!--<td>:&nbsp;&nbsp;&nbsp;{{PSCounterSale_Parent.panel}}</td>-->
						</tr>
						<tr>
							<th>Rate Plan</th>
							<td>:&nbsp;&nbsp;&nbsp;{{PSCounterSale_Parent.rate_plan}}</td>
							<th>Date</th>
							<td>:&nbsp;&nbsp;&nbsp;{{PSCounterSale_Parent.sales_date}}</td>
						</tr>
					

					</table>
				</td>
			</tr>
			<!-- table -->
			<tr>
				<td>
					<table style="width: 100%;max-width: 1024px;margin: 0 auto; border-collapse: collapse;"
						width="100%">
						<tr>
							<th style="border-top: 1px solid#333; border-bottom: 1px solid#333; ">S.No</th>
							<th style="border-top: 1px solid#333; border-bottom: 1px solid#333; ">Particulars</th>
							<th style="border-top: 1px solid#333; border-bottom: 1px solid#333; ">Batch No</th>
							<th style="border-top: 1px solid#333; border-bottom: 1px solid#333; ">Expiry Date</th>
							<th style="border-top: 1px solid#333; border-bottom: 1px solid#333; ">QTY</th>
							<th style="border-top: 1px solid#333; border-bottom: 1px solid#333; ">Rate</th>
							<!-- <th style="border-top: 1px solid#333; border-bottom: 1px solid#333; ">BeforeDiscountAmount</th> -->
							<th style="border-top: 1px solid#333; border-bottom: 1px solid#333; ">Discount</th>
							<th style="border-top: 1px solid#333; border-bottom: 1px solid#333; ">Amount</th>
						</tr>
						<tr>
							{% for data in PSCounterSale_child %}
						<tr>
							<td>{{forloop.counter}}</td>
							<td>{{data.item_id}} {{data.item_id.unit}} {{data.item_id.item_subcategory.itemsubcategory}}
							</td>
							<td>{{data.batch_no}}</td>
							<td>{{data.expiry_date}}</td>
							<td>{{data.qty}}</td>
							<td>{{data.rate}}</td>
							<!-- <td>{{data.before_disc_amount}}</td> -->
							<td>{{data.discount}}</td>
							<td>{{data.amount|floatformat:2|intcomma}}</td>
						</tr>
						{% endfor %}
						<tr>
							<td style="border-top: 1px solid#333; border-bottom: 1px solid#333; " colspan="6"></td>
							<td style="color: black;border-top: 1px solid#333; border-bottom: 1px solid#333; "><b>Total
									Amount</b></td>
							<td style="border-top: 1px solid#333; border-bottom: 1px solid#333; ">:
								{{PSCounterSale_Parent.total_taxable_amount|floatformat:2|intcomma}}</td>
						</tr>

					</table>
				</td>
			</tr>
			<tr>
				<td>
					<table style="width: 100%;max-width: 1024px;margin: 0 auto; border-collapse: collapse;"
						width="100%">
						<tr>
							<th style="border-top: 1px solid#333; border-bottom: 1px solid#333; ">Payments</th>
							<th style="border-top: 1px solid#333; border-bottom: 1px solid#333; ">Receipt No</th>
							<th style="border-top: 1px solid#333; border-bottom: 1px solid#333; ">Mode</th>
							<th style="border-top: 1px solid#333; border-bottom: 1px solid#333; ">Card</th>
							<th style="border-top: 1px solid#333; border-bottom: 1px solid#333; ">Bank</th>
							<th style="border-top: 1px solid#333; border-bottom: 1px solid#333; ">Reference No</th>
							<th style="border-top: 1px solid#333; border-bottom: 1px solid#333; "></th>
							<th style="border-top: 1px solid#333; border-bottom: 1px solid#333; ">Amount</th>
						</tr>
						<tr>
							<td>{% if payment_detail.date_time != None %}{{payment_detail.date_time}}{% endif %}</td>
							<td>{% if payment_detail.op_sale_no != None %}{{payment_detail.op_sale_no}}{% endif %}</td>
							<td>{% if payment_detail.mode_type != None %}{{payment_detail.mode_type}}{% endif %}</td>
							<td>{% if payment_detail.card_no != None %} {{payment_detail.card_no}} {% endif %}</td>
							<td>{% if payment_detail.bank_no != None %}{{payment_detail.bank_no}}{% endif %}</td>
							<td>{% if payment_detail.ref_number != None %}{{payment_detail.ref_number}}{% endif %}</td>
							<td></td>
							<td>{% if payment_detail.paid_amount != None %}{{payment_detail.paid_amount|floatformat:2|intcomma}}{% endif %}
							</td>
						</tr>
						<tr>
							<td style="border-top: 1px solid#333;" colspan="6"></td>
							<td style="color: black;border-top: 1px solid#333;border-bottom: 1px solid#333;"><b>Net
									Payments:</b></td>
							<td style="border-top: 1px solid#333;border-bottom: 1px solid#333;">{% if payment_detail.paid_amount != None %}{{payment_detail.paid_amount|floatformat:2|intcomma}}{% endif %}</td>
						</tr>

					</table>
				</td>
			</tr>

			<tr>
				<th>Received with thanks:{{amt_lang}} Kenya Shillings only</th>
			</tr>
			<tr>
				<td>
					<table style="width: 100%;max-width: 1024px;margin: 0 auto;border-collapse: collapse;" width="100%">
						<tr>
							<td colspan="10" style="text-align:right;">
								<h6 style="margin: 0;">Signature</h6>
							</td>
						</tr>
					</table>
				</td>
			</tr>


		</table>
	</div><br><br>
	<div style="padding-left: 45%;">
	<button type="button" onclick="codespeedy()"
		 id="billgenerate"
		class="btn btn-primary">Print</button>
	<a href="{% url 'counter_saleout_patient' %}" id="back_btn" class="btn btn-info">Back</a>
	<br><br>
</div>
	<script type="text/javascript">

		function codespeedy() {
			var print_div = document.getElementById("hello");
			var print_area = window.open();

			print_area.document.write(print_div.innerHTML);
			print_area.document.close();
			print_area.focus();
			print_area.print();
			print_area.close();
			// This is the code print a particular div element
		}
	</script>
	<!-- <script src="jquery-3.6.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
    $(document).on('click', '#billgenerate', function () {
        var dumy = this;
		var values="bill generated"

      var url="{% url 'status_updatePS' %}";
      var headers = {'X-CSRFToken': '{{ csrf_token }}' }

      $.ajax({
              url:url,
              type: "post",
              data: {
				values:values
              },
              headers:headers,
              dataType : 'json',
              success: function(data){
              },
              error:function(data)
              {
                  console.log(data);
              }
            });
    });
    });
</script> -->

	{% endblock %}
</body>

</html>