{% extends 'incident/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_block %}
<script src="{% static 'js/country-states.js' %}"></script>
{% endblock  %}
{% block body_block %}
 <!-- content -->
 <div class="page-wrapper">
    <div class="content">
<!-- Main Dashboard -->
<input type="hidden" name="screen_id" value="SCR00037">
<input type="hidden" name="message_id" value="MSG00037">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="box-outer">
                        <div id="Patient_R" class="h-100">
                            <div class="patient-registration">
                              <div class="top-heading lightgreen_bg">
                                <h3 class="section_title">Incident Form </h3>
                              </div>
                              <div class="container-fluid">
                                <div class="row">
                                  <div class="col-10">
                                    <ul class="file-list">
                                      <li><a href="/patient_registration" class="green_bg"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
                                      <li><button type="submit" form="my_form" style="background-color:#5584AC;border:2px solid #5584AC;height:2.5em;width:2.5em;color:white;border-radius:0.3em;" class="save_bg"><i style="font-size: px;" class="fa fa-save" aria-hidden="true"></i></button></li>
                                      <li onClick="window.location.reload();"><a href="#" class="reload"><i class="fa fa-undo" aria-hidden="true"></i></a></li>
                                      <li><a href="/register_card" class="slyblue_bg"><i class="fa fa-qrcode" aria-hidden="true"></i></a></li>
                                      <li><button disabled style="cursor: not-allowed;border:5px solid white;background-color:white;"><a class="slyblue_bg"  data-toggle="modal" data-target="#out-patient-visit"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a></button></li>
                                        <!--data-toggle="modal" data-target="#out-patient-visit"-->
                                      <li><a href="/dashboard" class="red_bg"><i class="fa fa-times" aria-hidden="true"></i></a></li>
                                    </ul>
                                  </div>

                                </div>  <br><br> 
                                <div class="form_sec">
                                  <form method="POST" id="my_form" enctype="multipart/form-data">
                                    {% csrf_token %}

                                  <div class="form-group">
                                    <label for="formGroupExampleInput2">Submitter's Name</label>
                                    <input type="text" name="submitter_name" class="form-control" id="formGroupExampleInput2" placeholder="" >
                                  </div>
                                  <div class="form-group">
                                    <label for="formGroupExampleInput2">Incident Reported Date</label>
                                    <input type="date" name="reported_date" class="form-control" id="formGroupExampleInput2" placeholder="" >
                                  </div>
                                  <div class="form-group">
                                    <label for="formGroupExampleInput2">Incident Date</label>
                                    <input type="datetime-local" name="incident_date" class="form-control" id="formGroupExampleInput2" placeholder="">
                                  </div>
                                  <div class="form-group">
                                    <label for="formGroupExampleInput2">Incident Type</label>
                                    <select name="incident_type" class="form-control">
                                        <option>Select</option>
                                        {% for data in incident_type %}
                                        <option value="{{data.id}}">{{data.incident_type}}</option>
                                        {% endfor %}
                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <label for="formGroupExampleInput2">Incident Location</label>
                                    <input type="text" name="incident_location" class="form-control" id="formGroupExampleInput2" placeholder="" >
                                  </div>
                                  <div class="form-group">
                                    <label for="formGroupExampleInput2">Affected People</label>
                                    <input type="text" name="affected_people" class="form-control" placeholder="" >
                                  </div>
                                  <div class="form-group">
                                    <label for="formGroupExampleInput2">Responsible Department</label>
                                    <input type="text" name="responsible_dept" class="form-control" placeholder="" >
                                  </div>
                                  <div class="form-group">
                                    <label for="formGroupExampleInput2">Incident Description</label>
                                    <textarea name="incident_desc" class="form-control" rows="3" cols="15"></textarea>
                                  </div>
                                  <!-- <div class="form-group">
                                    <label for="formGroupExampleInput2">Supervisor Name</label>
                                    <input type="text" name="supervisor_name" class="form-control" placeholder="" >
                                  </div>
                                  <div class="form-group">
                                    <label for="formGroupExampleInput2">Comments by Supervisor</label>
                                    <input type="text" name="comments_by_supervisor" class="form-control" id="formGroupExampleInput2" placeholder="" >
                                  </div>
                                  <div class="form-group">
                                    <label for="formGroupExampleInput2">Comments by Quality Manager</label>
                                    <input type="text" name="comments_by_qm" class="form-control" id="formGroupExampleInput2" placeholder="">
                                  </div>
                                  <div class="form-group">
                                    <label for="formGroupExampleInput2">Risk Assessment Score</label>
                                    <input type="text" name="risk_ass_score" class="form-control" id="formGroupExampleInput2" placeholder="">
                                  </div>
                                  <div class="form-group">
                                    <label for="formGroupExampleInput2">Contributing Factors</label>
                                    <select name="contributing_factor" class="form-control">
                                        <option>Select</option>
                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <label for="formGroupExampleInput2">Investigation Done By</label>
                                    <input type="text" name="invest_done_by" class="form-control" id="formGroupExampleInput2" placeholder="" >
                                  </div>
                                  <div class="form-group">
                                    <label for="formGroupExampleInput2">Investigation Outcomes</label>
                                    <input type="text" name="invest_outcomes" class="form-control" id="formGroupExampleInput2" placeholder="" >
                                  </div>
                                  <div class="form-group">
                                    <label for="country">Final SUmmary</label>
                                  <textarea name="final_summary" class="form-control" rows="5" cols="5"></textarea>
                                  </div>
                                                                     -->
                                 
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>

                       
                </div>
            </div>
        </div>
        <!--end page wrapper -->
    </div>
        </div>
        <!--/ Latest Patients-->
    </div>
    
    {% endblock  %}
