{% extends 'incident/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_block %}
<script src="{% static 'js/country-states.js' %}"></script>
{% endblock  %}
{% block body_block %}
 <!-- content -->
 <div class="page-wrapper">
    <div class="content">
<!-- Main Dashboard -->
<input type="hidden" name="screen_id" value="SCR00037">
<input type="hidden" name="message_id" value="MSG00037">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="box-outer">
                        <div id="Patient_R" class="h-100">
                            <div class="patient-registration">
                              <div class="top-heading lightgreen_bg">
                                <h3 class="section_title">Investigation of Incident </h3>
                              </div>
                              <div class="container-fluid">
                                <div class="row">
                                  <div class="col-10">
                                    <ul class="file-list">
                                      <li><a href="/patient_registration" class="green_bg"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
                                      {% if 'patient_registration_add' in access.user_profile.screen_access or request.user.is_superuser %}
                                      <li><button type="submit" form="my_form" style="background-color:#5584AC;border:2px solid #5584AC;height:2.5em;width:2.5em;color:white;border-radius:0.3em;" class="save_bg"><i style="font-size: px;" class="fa fa-save" aria-hidden="true"></i></button></li>
                                      {% endif %}
                                      <li onClick="window.location.reload();"><a href="#" class="reload"><i class="fa fa-undo" aria-hidden="true"></i></a></li>
                                      {% if 'registration_card' in access.user_profile.screen_access or request.user.is_superuser %}
                                      <li><a href="/register_card" class="slyblue_bg"><i class="fa fa-qrcode" aria-hidden="true"></i></a></li>
                                      {% endif %}
                                      {% if 'visitor_add' in access.user_profile.screen_access or request.user.is_superuser %}
                                      <li><button disabled style="cursor: not-allowed;border:5px solid white;background-color:white;"><a class="slyblue_bg"  data-toggle="modal" data-target="#out-patient-visit"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a></button></li>
                                      {% endif %}
                                        <!--data-toggle="modal" data-target="#out-patient-visit"-->
                                      <li><a href="/dashboard" class="red_bg"><i class="fa fa-times" aria-hidden="true"></i></a></li>
                                    </ul>
                                  </div>

                                </div>  <br><br> 
                                <div class="form_sec">
                                  <form method="POST" id="my_form" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="table-responsive ">
                                        <table class="datatable table table-stripped">
                                                       <thead>
                                                           <tr><th>S.No</th>
                                                               <th>Incident No</th>
                                                               <th>Submitter Name</th>
                                                               <th>Incident Reported Date</th>
                                                               <th>Incident Type</th>
                                                               <th>Incident Location</th>
                                                               <th>Affected Person</th>                                                  
                                                               <th>Responsible Dept</th>
                                                               <th>Incident Desc</th>
                                                               <th>View</th>
                                                           </tr>
                                                       </thead>
                                                       <tbody>
                                                            {% for data in incident_details %}
                                                           <tr>
                                                               <td>{{forloop.counter}}</td>
                                                               <td>{{data.incident_id}}</td>
                                                               <td>{{data.submitter_name}}</td>
                                                               <td>{{data.incident_reported_date}}</td>
                                                               <td>{{data.incident_type}}</td>
                                                               <td>{{data.incident_location}}</td>
                                                               <td>{{data.affected_people}}</td>
                                                               <td>{{data.responsible_dept}}</td>
                                                               <td>{{data.incident_description}}</td>
                                                               <td><a class="btn btn-primary" href="{% url 'investigation_creation_form' data.incident_id %}"><i
                                                                    class="fa fa-hand-pointer"
                                                                    aria-hidden="true"></i></a></td>
                                                           </tr>
                                                           {% endfor %}
                                                       
                                                          
                                                        </tbody>
                                               </table>
                                               </div>
                               
                                 
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>

                       
                </div>
            </div>
        </div>
        <!--end page wrapper -->
    </div>
        </div>
        <!--/ Latest Patients-->
    </div>
    
    {% endblock  %}
