{% extends 'clinical/base.html' %}
{% load static %}
{% block head_block%}
<style>
    .table>thead>tr>th {
    white-space: nowrap;

}
.icon-button-demo{
    white-space: nowrap;
}
</style>
{% endblock %}
{% block body_block %}
<!-- content -->
<div class="page-wrapper bg-white">
    <div class="content px-3 py-2">
      <div style="font-family: monospace;" class="w-100 bg-primary px-2 py-2 text-light br_5 d-flex justify-content-between">
        <div>
          <a href="/dashboard" class="text-light mr-2" title="Back"><i class="fa fa-arrow-circle-left"></i></a>
        </div>
      </div>

      <div class="table-responsive">
        <div style="overflow:auto;" >
            <table class="datatable table table-hover" id="tables">
                <thead style="background-color: rgb(181, 181, 233);">
                    <tr>
                        <th>UHID</th>
                        <th>AdmID</th>
                        <th>Adm.Date</th>
                        <th>Name</th>
                        <th>Adm.Type</th>
                        <th>Ward Type</th>
                        <th>Doctor</th>
                        <th>Department</th>
                        <th>Bed No</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in records %}
                    <tr>
                        <td>{{data.uhid}}</td>
                        <td><a href="/ipd/ipd_billing_main/{{data.admission_ID}}">{{data.admission_ID}}</a></td>
                        <td>{{data.admission_datetime|date:'Y-m-d'}} {{data.admission_datetime|time:'H:i'}}</td>
                        <td>{{data.name}}</td>
                        <td>{{data.admission_type}}</td>
                        <td>{{data.req_ward_type}}</td>
                        <td>{{data.primary_doctor}}</td>
                        <td>{{data.department}}</td>
                        <td>{{data.bed_no}}</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>

    </div>
</div>

  <script>
    function toggleVisibility() {
      var demoElement = document.getElementById('filter_card');
      if (demoElement.style.display === 'none' || demoElement.style.display === '') {
        demoElement.style.display = 'block'; // Show the element
      } else {
        demoElement.style.display = 'none';  // Hide the element
      }
    }
  </script>


{% endblock %}