{% extends 'human_resource/employee/base.html' %}
{% load static %}

{% block head_block %}
{% endblock  %}
{% block body_block %}
 <!--content-->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 <div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title">Attendance Sheet</h4>
            </div>
        </div>
        <form method="POST">
            {% csrf_token %}
        <div class="card">
            <div class="card-body">
                <div class="row filter-row">
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group form-focus mb-0">
                            <label class="focus-label">Employee Name</label>
                            <input type="text" class="form-control floating" list="text_editors" name="emp">
                            <datalist id="text_editors">
                                {% for data in employee_name %}
                                <option value="{{data.id}}.{{data.first_name}}{{data.last_name}}"></option>
                                {% endfor %}
                            </datalist>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group form-focus select-focus mb-0">
                            <label class="focus-label">Department</label>
                            <select class="select floating" name="dept_id" id="dept_id">
                                <option value="">-</option>
                                {% for data in dept_detail %}
                                <option value="{{data.id}}">{{data.department_name}}</option>
                               {% endfor %}
                            </select>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-md-3">
                        <button type="submit" class="btn btn-success btn-block" name="search" value="search"> Search </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
        <div class="card mb-0">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="datatable table table-stripped ">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Employee ID</th>
                                        <th>Employee Name</th>
                                        <th>Department</th>
                                        <th>Current Shift</th>
                                        <th>Attendance</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data,data1 in employee_details %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{data.employee_id}}</td>
                                        <td>{{data.first_name}} {{data.last_name}}</td>
                                        <td>{{data1}}</td>
                                        <td>{{data.shift_name}}</td>
                                        <td>{% if data.attendance_status == 'check_out' %} <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#attendance" data-emp_id="{{data.id}}" data-shift_id="{{data.shift_id}}">check-in</button>{% elif data.attendance_status == 'check_in' %} <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#attendance" data-emp_id="{{data.id}}" data-shift_id="{{data.shift_id}}">check-out</button>{% elif data.attendance_status == 'leave' %} <button type="button" class="btn btn-danger">Leave</button>  {% endif %} </td>
                                      </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
<!-- Modal -->
<div class="modal fade" id="attendance" tabindex="-1" role="dialog" aria-labelledby="attendanceTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background: rgb(195, 228, 222);">
          <h5 class="modal-title" id="attendanceLongTitle"><b>Attendance</b></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            
            <ul class="nav nav-pills">
                <li class="active"><a data-toggle="pill" href="#home">Attendance</a></li>
                <!-- <li><a data-toggle="pill" href="#menu1">Leave</a></li> -->
                <li><a data-toggle="pill" href="#menu2">Permission</a></li>
              </ul>

              <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                  <h3>Attendance (<span id="start_time"></span>-<span id="end_time"></span>)</h3><br>
                  <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="emp_id" id="emp_id">
                  <div class="row">
                    <div class="col-md-12">
                        <label>In-Time</label>
                        <input type="time" class="form-control" name="in_time" id="in_time">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                        <label>Out-Time</label>
                        <input type="time" class="form-control" name="out_time" id="out_time">
                    </div>
                  </div><br>
                  <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary" name="attendance" value="attendance">Save</button>
                    </div>
                  </div>
                </form>
                </div>
                <div id="menu1" class="tab-pane fade">
                  <h3>Leave</h3><br>
                  <form method="POST">
                    {% csrf_token %}
                  <input type="hidden" name="emp_id" id="emp_id">
                  <div class="row">
                    <div class="col-md-12">
                        <label>Reason</label>
                        <input type="text" class="form-control" name="reason" id="reason">
                    </div>
                  </div><br>
                  <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary" name="leave" value="leave">Save</button>
                    </div>
                  </div>
                  </form>
                </div>
                <div id="menu2" class="tab-pane fade">
                  <h3>Permission</h3><br>
                  <form method="POST">
                    {% csrf_token %}
                  <input type="hidden" name="emp_id" id="emp_id">
                  <div class="row">
                    <div class="col-md-12">
                        <label>Out-Time</label>
                        <input type="time" class="form-control" name="p_out_time" id="p_out_time">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                        <label>In-Time</label>
                        <input type="time" class="form-control" name="p_in_time" id="p_in_time">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                        <label>Reason</label>
                        <input type="text" class="form-control" name="p_reason" id="p_reason">
                    </div>
                  </div><br>
                  <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary" name="permission" value="permission">Save</button>
                    </div>
                  </div>
                  </form>
                </div>
                
              </div>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function () {
  $('#attendance').on('show.bs.modal', function(e) {

    var link     = $(e.relatedTarget)
     
      var emp_id = link.data("emp_id")
      var shift_id = link.data("shift_id")
      //alert(shift_id);
      var headers = {'X-CSRFToken': '{{ csrf_token }}' };
      $("#start_time").html('');
      $("#end_time").html('');

        $.ajax({
            url: '{% url "get_intime_detail" %}',
            type: "GET",
            data: {
                emp_id: emp_id,
            },
            headers: headers,
            dataType : 'json',
            success: function(data){
              $("#in_time").val(data.in_time);
           },
           error:function(data)
            {
                console.log(data);
            }
               });

        $.ajax({
            url: '{% url "get_shift_detail" %}',
            type: "GET",
            data: {
                shift_id: shift_id,
            },
            headers: headers,
            dataType : 'json',
            success: function(data){
              $("#start_time").html(data.start_time);
              $("#end_time").html(data.end_time);             
           },
           error:function(data)
            {
                console.log(data);
            }
               });

      var modal    = $(this)

    modal.find(".modal-body #emp_id").val(emp_id);
    
        
    });  
});  
</script>   

{% endblock %}
