{% extends 'pharmacy/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_block %}
<style>
  .form-control {
    border: 2px solid white;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid black;
  }
</style>
{% endblock  %}
{% block body_block %}
<!-- content -->
<div class="page-wrapper">
  <div class="content">
    <nav class="navbar navbar-light bg-blue" style="background-color: rgb(64, 64, 207);">
      <div class="container-fluid">
        <a class="navbar-brand" style="color: white;" href="#">Item Issue to MainStore</a>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-8 col-xs-8"><br>
          <div class="card">
            <div class="header">
              <div class="body">
                <br>
                &nbsp;
                <div class="row clearfix">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  
                  <button type="button" class="btn btn-primary" onClick="window.location.reload();"> <i
                      class="fas fa-sync-alt">Refresh</i></button>&nbsp;
                  <a href="" class="btn btn-danger"> <i class="fas fa-times-circle">Exit</i></a>&nbsp;
                </div>
                <br>
                
                <div class="table-responsive">
                  <table class="datatable table table-stripped ">
                    <thead>
                        <tr>
                          <th>S.No</th>
                          <th>GRN No.</th>
                          <th>Date Time</th>
                          <th>Vendor</th>
                          <th>Invoice No</th>
                          <th>Department</th>
                          <th>Net Amount</th>
                          <th>GRN Amount</th>
                          <th>View</th>
                  
                        </tr>
                      </thead>
                      
                      <tbody>
                        {% for data in stock_parent %}
                        <tr>
                          <td>{{forloop.counter}}</td>
                          <td><b>{{data.GRN_id}}</b></td>
                          <td>{{data.GRN_datetime}}</td>
                          <td>{{data.vendar_id}}</td>
                          <td>{{data.invoice_no}}</td>
                          <td>{{data.department}}</td>
                          <td>{{data.net_amount}}</td>
                          <td>{{data.GRN_amount}}</td>
                          <td><a class="btn btn-primary" href="/item_issue_tomainstore_withoutpo/{{data.GRN_id}}"><i class="fa fa-hand-pointer"
                                aria-hidden="true"></i></a>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                      
                  </table>
                </div>
              </div><br>

           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}