{% extends 'pharmacy/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_block %}

<style>
    #id_from_date,
    #id_to_date,
    #id_store {
        border: 2px solid rgb(233, 233, 233);
        width: 100%;
        background-color: rgb(233, 233, 233);
        border-bottom: 1px solid black;
    }
</style>
{% endblock %}
{% block body_block %}
<!-- content -->
<div class="page-wrapper bg-white">
    <div class="content px-3 py-2">
        <div style="font-family: monospace;" class="w-100 bg-primary px-2 py-2 text-light br_5 d-flex justify-content-between">
            <div>
              <a href="/reports" class="text-light mr-2" title="Back"> <i class="fa fa-arrow-circle-left"></i></a>
              <b>Department Consumption</b>
            </div>
            <div class="">
              <a type="button" onClick="toggleVisibility()" title="Filter"><i class="fa fa-filter"></i></a>
              <a type="button" onclick="window.location.reload()" class="text-light px-1" title="Reload"><i class="fas fa-sync-alt"></i></a>
              <a onClick="" class="text-light px-1" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Export" ><i class='fas fa-ellipsis-v'></i></a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <!-- <a  href="#" class="dropdown-item btn-primary" role="button" type="button" id="button2" onclick="codespeedy()"> PDF</a> 
                <a class="dropdown-item btn-primary" id="download-button" role="button" href="#">CSV</a> -->
                
              </div>
            </div>
          </div>
                                <div class="col-lg-12 col-md-12 col-sm-4 col-xs-4" id="filter_card"><br>
                                    <form method="post" action="">
                                        {% csrf_token %}
                                        <div class="form-row pb-3">
                                            <div class="form-group col-md-3 mb-0">
                                                <label><b> Location *</b></label>
                                                <select name="location_id" id="location_id" class="form-control" required>
                                                    <option value="">Select</option>
                                                    {% for data in location_detail %}
                                                    <option value="{{data.id}}">{{data.location_name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="form-group col-md-3 mb-0">
                                                <label><b> Store *</b></label>
                                                <select name="store_id" id="store_id" class="form-control" required>
                                                    <option value="">Select</option>
                                                    {% for data in store_detail %}
                                                    <option value="{{data.id}}">{{data.store_name}}</option>
                                                    {% endfor %}
                                                </select>
                                                <!-- <input type="text" name="opd_no" value="Medical" class="form-control">   -->
                                            </div>
                                            <datalist id ='item'>
                                                {% for data in item_name %}
                                                <option value="{{data.id}}.{{data.item_name}}"></option>
                                                {% endfor %}
                                            </datalist>
                                            <div class=" col-md-3"><br>
                                                <button type="submit" class="btn btn-warning w-100 mt-2" name="submit_btn" value="submit_btn"><i
                                                    class="fa fa-search pr-2"></i>Search</button></a>

                                            </div>
                                        </div>
                                    </form>
                                </div>


    </div>
</div>
<script>
    function toggleVisibility() {
      var demoElement = document.getElementById('filter_card');
      
      if (demoElement.style.display === 'none') {
        demoElement.style.display = 'block'; // Show the element
      } else {
        demoElement.style.display = 'none';  // Hide the element
      }
    }
  </script>
                        {% endblock %}