{% extends 'clinical/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block head_block %}
{% endblock %}
{% block body_block %}
<style>
    .form-control {
        border: 2px solid rgb(233, 233, 233);
        width: 100%;
        background-color: rgb(233, 233, 233);
        border-bottom: 1px solid black;
    }
</style>
<!-- content -->
<div class="page-wrapper bg-white">
    <div class="content px-3 py-2">
        <div style="font-family: monospace;" class="w-100 bg-primary px-2 py-2 text-light br_5 d-flex justify-content-between">
            <div>
              <a href="/reports" class="text-light mr-2" title="Back"> <i class="fa fa-arrow-circle-left"></i></a>
              <b>Monthly Report</b>
            </div>
            <div class="">
              <a type="button" onClick="toggleVisibility()" title="Filter"><i class="fa fa-filter"></i></a>
              <a type="button" onclick="window.location.reload()" class="text-light px-1" title="Reload"><i class="fas fa-sync-alt"></i></a>
              <a onClick="" class="text-light px-1" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Export" ><i class='fas fa-ellipsis-v'></i></a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a  href="#" class="dropdown-item btn-primary" role="button" type="button" id="button2" onclick="codespeedy()"> PDF</a> 
                <a class="dropdown-item btn-primary" onclick="exportTableToCSV()"  id="download-button" role="button" href="#">CSV</a>
                
              </div>
            </div>
          </div>

            <form method="post">
                {% csrf_token %}
                <div class="col-md-12 col-sm-4 col-xs-4" id="filter_card">
                    
                    <div class="form-row">
                        <div class="form-group col-md-3 mb-0">
                            <label style="font-weight: bold;" >From Date<b style="color: red;">*</b> </label>
                            <input type='datetime-local' name='b_start_date' id='b_start_date' style="background-color: white;" class='form-control' required>
                        </div>
                        <div class="form-group col-md-3 mb-0">
                            <label style="font-weight: bold">To Date<b style="color: red;">*</b></label>
                            <input type='datetime-local' name='b_end_date' style="background-color: white;" id='b_end_date' class='form-control' required>
                        </div>

                        <div class="col-sm-0"><br>
                            <button type="submit" class="btn btn-warning w-100 mt-2" name="search_btn"
                                value="Search"><i class="fa fa-search">&nbsp;Search</i></button>&nbsp;
                        </div>

                    </div>
                </div>
            </form>
                <div class="row">
                    <div class="col-12">
                {% if record %}
                <div id="hello">
                    
                    <table style="width: 70%;max-width: 800px;margin: 0 auto;border-collapse: collapse;" width="50%">
                        <tr>

                                <div class="" >
                                    <center><h2><img src="{% static 'assets/images/nephromed_logo.jpg' %}" alt="logo Image" style="width:300px;height:80px;"></h2>
                                    </center>
                                </div>

                        </tr>
                    </table>

                    <style>
                        table, th, td {
                            border: 1px solid black;
                            border-collapse: collapse;

                        }
                        #button2{
                        font-size: larger;
                        padding: 10px;
                        border: none;
                        border-radius: 5px;
                    }
                        </style>
                        <center><h3>Monthly Report</h3></center>
                    <div class="table-responsive">
                    <table class="table table-bordered" style="border-style: solid;font-size:x-small;" align="center">
                        <thead class="text-nowrap">
                            <tr>
                                <th scope="col">UHID</th>
                                <th scope="col">Visit No</th>
                                <th scope="col">Patient</th>
                                <th scope="col">Department</th>
                                <th scope="col">Bill No </th>
                                <th scope="col">Reg.Date</th>
                                <th scope="col">Posted Date</th>
                                <th scope="col">Charge Head</th>
                                <th scope="col">Item Desc</th>
                                <th scope="col">Item Amt</th>
                                <th scope="col">Disc</th>
                                <th scope="col">Net Amt</th>
                                <th scope="col">Pri Sponser</th>
                                <th scope="col">Bill Status</th>
                                <th scope="col">Payment Mode</th>
                                <th scope="col">Admitting Doctor</th>
                                <th scope="col">Reffered By</th>
                                <th scope="col">National ID</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data,data1,data2,data3,data4,data5 in record %}

                            <tr>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data.uhid}}</td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data.visit_no}}</td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data.first_name|upper}} {{data.middle_name|upper}} {{data.last_name|upper}}</td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data.department}}</td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data.bill_no}}</td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data.bill_date_time |date:"SHORT_DATETIME_FORMAT" }}</td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data.bill_date_time |date:"SHORT_DATETIME_FORMAT" }}</td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data.service_sub_category}}</td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data.service_id}}</td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data.charges|floatformat:2|intcomma}}</td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data.discount}}</td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data.paid_amount|floatformat:2|intcomma}}</td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data1}}</td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data5}}</td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data4}}</td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data.doctor_name}}</td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data2}}</td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data3}}</td>

                            </tr>
                            {% endfor %}

                            {% for data,data1,data2,data3,data4,data5,data6,data7 in record_tempdetail %}

                            <tr>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data.uhid}}</td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data.visit_no}}</td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data.first_name|upper}} {{data.middle_name|upper}} {{data.last_name|upper}}</td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data7}}</td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data.temp_bill_no}}</td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data.created_at |date:"SHORT_DATETIME_FORMAT" }}</td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data.created_at |date:"SHORT_DATETIME_FORMAT" }}</td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data.service_sub_category}}</td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data.service_name}}</td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data.net_ammount|floatformat:2|intcomma}}</td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data.discount}}</td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data.total_amount|floatformat:2|intcomma}}</td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data1}}</td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data5}}</td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data4}}</td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data6}}</td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data2}}</td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data3}}</td>

                            </tr>
                            {% endfor %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><b style="font-weight: bold;">Sub Total</b></td>
                                <td style="padding-left: 15px;padding-right: 15px;"><b style="font-weight: bold;">{{net_amount|floatformat:2|intcomma}}</b></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            {% if pharmacy_records %}
                            <tr>
                                <td colspan="15" style="text-align:center;"><h4><b> Pharmacy Bill Details</b></h4></td>
                            </tr>

                            {% for data1,data2,data3,data4 in pharmacy_records %}
                            {% for data in data2 %}
                            <tr>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data1.uhid}}</td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data1.visit_id}}</td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data1.patient_name|upper}}</td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data1.dept}}</td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data.Op_sales_no}}</td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data.sales_date |date:"SHORT_DATETIME_FORMAT" }}</td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data.sales_date |date:"SHORT_DATETIME_FORMAT" }}</td>
                                <td style="padding-left: 15px;padding-right: 15px;"></td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data.item_id}}</td>
                                <td style="padding-left: 15px;padding-right: 15px;"></td>
                                <td style="padding-left: 15px;padding-right: 15px;">{% if data.discount %}{{data.discount}}{% else %}0{% endif %}</td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data.amount|floatformat:2|intcomma}}</td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data4}}</td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data1.bill_status|upper}}</td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data1.type|upper}}</td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data1.consultant_name}}</td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data3}}</td>
                                <td style="padding-left: 15px;padding-right: 15px;">{{data1.national_id}}</td>

                            </tr>
                            {% endfor %}
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="15" style="text-align:center;"><h4><b> No Pharmacy Bill</b></h4></td>
                            </tr>
                            {% endif %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><b style="font-weight: bold;">Pharmacy Sub Total</b></td>
                                <td style="padding-left: 15px;padding-right: 15px;"><b style="font-weight: bold;">{{pharmacy_net_amt|floatformat:2|intcomma}}</b></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><b style="font-weight: bold;">Grand Total</b></td>
                            <td style="padding-left: 15px;padding-right: 15px;"><b style="font-weight: bold;">{{grand_total|floatformat:2|intcomma}}</b></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                </div>
                {% endif %}
            </div>
        </div>
   
    </div>
</div>

<script>
    function toggleVisibility() {
      var demoElement = document.getElementById('filter_card');
      
      if (demoElement.style.display === 'none') {
        demoElement.style.display = 'block'; // Show the element
      } else {
        demoElement.style.display = 'none';  // Hide the element
      }
    }
  </script>

<script src="../assets/js/app.js"></script>

<script type="text/javascript">

    function codespeedy(){
      var print_div = document.getElementById("hello");
var print_area = window.open();
print_area.document.write(print_div.innerHTML);
print_area.document.close();
print_area.focus();
print_area.print();
print_area.close();
// This is the code print a particular div element
    }
  </script>

<!-- Export csv -->

<script>

function exportTableToCSV() {
    var csv = [];
    var rows = document.querySelectorAll("table tr");

    for (var i = 0; i < rows.length; i++) {
        var row = [], cols = rows[i].querySelectorAll("td, th");

        for (var j = 0; j < cols.length; j++) {
            var cellText = cols[j].innerText;
            cellText = cellText.replace(/"/g, '""');  // Escape double quotes within cell value
            row.push('"' + cellText + '"');
        }

        csv.push(row.join(","));
    }

    // Create a download link
    var csvContent = "data:text/csv;charset=utf-8," + csv.join("\n");
    var link = document.createElement("a");
    link.setAttribute("href", encodeURI(csvContent));
    link.setAttribute("download", "monthly_report.csv");
    link.click();
}
</script>


{% endblock %}