{% extends 'clinical/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_block %}
<style>
    div.dataTables_wrapper div.dataTables_filter label{
    display:none;
    }
</style>
    <style>
        /* Style the search box */
        .input-box {
            width: 250px;
            padding: 8px;
            border: 2px solid #ccc;
            border-radius: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            font-size: 16px;
            outline: 2px;
        }
        /* Style the placeholder text */
        .input-box::placeholder {
            color: #3498db;
        }
    </style>
{% endblock%}
{% block body_block %}

<!-- content -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src=
"https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js">
    </script>
<div class="page-wrapper">
    <div class="content">
        <div class="card">
            <div class="top-heading bg-primary">
                <h3 class="section_title" style="text-align:center; color:white; padding:10px;"> OPD Billing Print</h3>
            </div>
            <div class="table-responsive mb-3">
                <div class="mb-3">
                    <input type="text"  id="myinputs" class="input-box float-right" placeholder="Search Here...." >
                </div>
                <table class=" table table-stripped " id="tableIDS">
                    <thead>
                        <tr>
                            <th>S.No.</th>
                            <th>bill_no</th>
                            <th>uhid</th>
                            <th>visit_no</th>
                            <th>Name</th>
                            <th>Department</th>
                            <th>Date/Time</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for data in records %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            {% if data.billing_group_id == cop_master %}
                            <td><a href="{% url 'opd_print_cash' data.bill_no %}">{{data.bill_no}}</a></td>
                            {% else %}
                            <td><a href="{% url 'opd_print_credit' data.bill_no %}">{{data.bill_no}}</a></td>
                            {% endif %}
                            <td>{{data.uhid}}</td>
                            <td>{{data.visit_no}}</td>
                            <td>{{data.pst_title}} {{data.pat_first_name}} {{data.pat_middle_name}} {{data.pat_last_name}}</td>
                            <td>{{data.department}}</td>
                            <td>{{data.bill_date_time}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

<script>
    var table = $('#tableIDS').DataTable();

        // #myInput is a <input type="text"> element
        $('#myinputs').on( 'keyup', function () {
            table.search( this.value ).draw();
        } );
</script>

{% endblock %}