{% extends 'clinical/base.html' %}
{% load static %}
{% block head_block %}
<style>
  /* Style the search box */
  .input-box {
      width: 250px;
      padding: 8px;
      border: 2px solid #ccc;
      border-radius: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      font-size: 16px;
      outline: 2px;
  }
</style>
{% endblock  %}
{% block body_block %}
 <!-- content -->

<style>
    div.dataTables_wrapper div.dataTables_filter label{
    display:none;
    }
</style>
 <div class="page-wrapper bg-white">
    <div class="content px-3 py-2">
      <div class="row">
        <div class="col-12">
          <div style="font-family: monospace;" class="w-100 bg-primary px-2 py-2 text-light br_5 d-flex justify-content-between">
            <div>
              <a href="/dashboard" class="text-light mr-2" title="Back"> <i class="fa fa-arrow-circle-left"></i></a>
              <b>PREVIOUS DIALYSIS PATIENTS</b>
            </div>
            <div class="">
              <!-- <a type="button" data-toggle="modal" data-target="#myLargeModalLabel1"  class="text-light px-1" title="Filter"><i class="fa fa-filter"></i></a> -->
              <a type="button" onclick="window.location.reload()" class="text-light px-1" title="Reload"><i class="fas fa-sync-alt"></i></a>
              <a onClick="" class="text-light px-1" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Export" ><i class='fas fa-ellipsis-v'></i></a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <!-- <a href="/OT/clinical_notes_records" class="dropdown-item btn-primary"> Records</a> 
                <a class="dropdown-item btn-primary" id="download-button " href="#">CSV</a> -->
              </div>
            </div>
          </div>
<!-- Main Dashboard -->
            <div class="row">
              <div class="col-md-12">
                  <div class="table-responsive">
                      <div class="mb-3">
                          <input type="text"  id="myinputv" class="input-box float-right" placeholder="Search Here...." >
                      </div>
                      <table class="table table-stripped table-bordered" id="tableIDv" >
                          <thead class="text-nowrap">
                            <tr>
                              <th>S.no</th>
                              <th>UHID</th>
                              <th>Visit ID</th>
                              <th>Visit Date</th>
                              <th>Patient Name</th>
                              <th>Prescription</th>
                              <th>Pre Dialysis</th>
                              <th>Intra Dialysis</th>
                              <th>Post Dialysis</th>
                              <th>Report Chart</th>
                              <th>Dialysis Discharge</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for data in records %}
                              <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{data.uhid}}</td>
                                <td>{{data.visit_id}}</td>
                                <td>{{data.visit_date|date:'d-m-Y'}}</td>
                                <td class="text-nowrap">{{data.title}} {{data.f_name}} {{data.m_name}} {{data.l_name}}</td>
                                <td><a href="prescription_dialysis_update/{{data.uhid}}-{{data.visit_id}}"><button type="button" class="btn btn-primary">Prescription Dialysis</button> </a></td>
                                <td><a href="view_pre_dialysis_details/{{data.uhid}}-{{data.visit_id}}"><button type="button" class="btn btn-primary">Pre Dialysis</button> </a></td>
                                <td><a href="dialysis_details/{{data.uhid}}-{{data.visit_id}}"><button type="button" class="btn btn-primary">Intra Dialysis</button> </a></td>
                                <td><a href="view_post_dialysis/{{data.uhid}}-{{data.visit_id}}"><button type="button" class="btn btn-primary">Post Dialysis</button> </a></td>
                                <td><a href="dialysis_report_chart/{{data.uhid}}-{{data.visit_id}}"><button type="button" class="btn btn-primary">Dialysis Report Chart</button> </a></td>
                                <td><a href="dialysis_dishcharge_report/{{data.uhid}}-{{data.visit_id}}"><button type="button" class="btn btn-primary">Dialysis Discharge Report</button> </a></td>
                                </tr>
                              {% endfor %}
                          </tbody>
                      </table>
                    </div>
                </div>
              </div>
 
  </div>
</div>

       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src=
"https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js">
    </script>
    <script>
    var table = $('#tableIDv').DataTable();

        // #myInput is a <input type="text"> element
        $('#myinputv').on( 'keyup', function () {
            table.search( this.value ).draw();
        } );
</script>
{% endblock  %}
